@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
/* Home Page*/
/* Mark Comment: you've got the body selector appearing mulitple times in this .css file. when you link to this .css file, all of the body sections will apply, and any of the later body sections that specify the same property will overwrite previous property values.*/

  .mainbody {
    background-image: url("https://i.pinimg.com/originals/ba/ac/73/baac73e96f568f7a3b3f8adc7324fc8b.gif?q=60");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .anime {
    background-image: url("https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif?q=60");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .game {
    background-image: url("https://i.pinimg.com/originals/b5/fd/3f/b5fd3fbe984103e08b9482471484394b.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
   .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
    .topnav a.active { 
    background-color: #4c77af;
    color: white;
  } */ */
/* 
/*Lightbox */

  .thumbnail {
    padding: 15px
  }

  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* Bootstrap start */
.container {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius:.25rem;
}
.row {
    padding:2rem 1rem;
	margin-bottom:2rem;
	/* background-color:rgb(53, 63, 211); */
	border-radius:.3rem
}
.col-sm-6 {
    padding:2rem 1rem;
	margin-bottom:2rem;
	background-color:rgb(255, 255, 255);opacity:0.5;
	border-radius:.3rem
}
/* Bootstrap end */

/* Flexbox start */
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
/* Flexbox end */


#bgdylan {
    /* background-color: rgb(103, 27, 190); */
}
/* text for page */
#textdylan{
    font-family: verdana;
    font-size: 20px;
    color: rgb(0, 0, 0);
/* text-align: center; */
}

/* fx */

.glitch {
  font-size: 5.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 15%;
  left: 50%; 
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
}
.glitch:before, .glitch:after {
  display: block;
  content: attr(data-glitch);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.glitch:after {
  color: #f0f;
  z-index: -2;
}
.glitch:before {
  color: #0ff;
  z-index: -1;
}
.glitch:hover:before {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
.glitch:hover:after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}
@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 3em;
 }
}
@keyframes glitch {
  0% {
    transform: translate(0);
 }
  20% {
    transform: translate(-5px, 5px);
 }
  40% {
    transform: translate(-5px, -5px);
 }
  60% {
    transform: translate(5px, 5px);
 }
  80% {
    transform: translate(5px, -5px);
 }
  to {
    transform: translate(0);
 }
}
