@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* Somehow this is broken if anyone know how to fix this then please do */
body {
    background-color: lightblue;
}
/* Joe */
#bgcolorjoe {
    background-color: #FF0000;
}
li, a, p {
    font-family: verdana;
	font-size: 20px;
}
/* Dylan */
#bgdylan {
    background-color: rgb(4, 191, 253);
}

/* Ethan */
#bgethan {
    
}

/* Noah */
#bgnoah {
    
}